@model LPX2YCDProject2020.Models.HomeModels.CenterDetails
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}


<div class="offset-4">
    <h2 class="text-center">About us</h2>
    <hr />


</div>