@model ContactUsModel

@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<div class="container">
    <h1 class="text-center h1">Contact Us</h1>
    <h3>
        Looking for some information?<br />
        Fill out this form and we'll get back to you shortly
    </h3>
    <hr />
    <div class="row justify-content-center">

        @if (ViewBag.EnquirySent != null)
        {
            <div class="alert alert-success" role="alert">
                <p>
                    Your Query has been sent. We will be in touch soon.
                </p>
            </div>
        }

        <div class="col col-md-4">
        </div>

        <div class="col col-md-4">
        </div>
        <br /><br />
    </div>

</div>*@

<!-- contact page -->
<section class="w3l-contact py-5" id="contact">
    <div class="container py-md-5 py-4 mb-5">
        <div class="mx-auto" style="max-width:1000px">
            <div class="row contact-block">
                <partial name="_ContactUsDetailsList" model="Model.systemDetails" />
            </div>
            <!-- contact form -->
            <div class="contact-form-sec pt-5 mt-md-5">
                <partial name="_EnquiryForm" , model="Model.ContactUsFormModel" />
            </div>
            <!-- //contact form -->
        </div>
    </div>
</section>
<!-- //contact page -->
