@model LPX2YCDProject2020.Models.Account.SignInModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="~/lib/style.css" rel="stylesheet" />
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Square login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <div>
       <partial name="_LoginHeader" />
    </div>
    <div class="login-form">
        <div class="top-login">
            <span><img src="/Images/group.png" alt="Head image" /></span>
        </div>
        <h1>Login</h1>
        <div class="login-top">
            <form method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger" style="background-color:white;"></div>

                <div class="login-ic">
                    <i></i>
                    <input asp-for="Email" type="text" value="User name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}" />
                    <div class="clear"> </div>
                </div>
                <div class="login-ic">
                    <i class="icon"></i>
                    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" asp-for="Password" />
                    <div class="clear"> </div>
                </div>
                <div class="login-ic">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="rememberMe" /> @Html.DisplayNameFor(model => model.rememberMe)
                    </label>
                </div>
                <div class="log-bwn">
                    <input type="submit" value="Login">
                </div>
            </form>
            <p> Click <a asp-action="ForgotPassword" asp-controller="Account">Forgot password?</a></p>
            <p> Click <a asp-action="SignUp" asp-controller="Account">here</a> to signup</p>
        </div>
        <p class="copy">© @DateTime.Now.Year LXP2. All rights reserved</p>
    </div>
</body>
</html>
