@using Microsoft.Extensions.Configuration
@inject IConfiguration _config

<header>
    <nav nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
           
            <a class="navbar-brand" href="#">
                <img src="" width="50" height="50" asp-append-version="true" />
                @_config["AppName"]
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar navbar-expand-lg navbar-light bg-light">
                    <partial name="_loginInfo" />
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="AboutUs">
                            About us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="ContactUs">
                            Contact Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Donate">
                            Donate
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark">
                            More
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   
</header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>